# Rename this file to ".env" and fill in your own MongoDB Atlas connection string.
# Get this string from MongoDB Atlas -> Database -> Connect -> Drivers -> Python
MONGO_URI=mongodb+srv://<username>:<password>@<cluster-name>.mongodb.net/?retryWrites=true&w=majority
DB_NAME=flask_mongo_db
COLLECTION_NAME=submissions
