<!DOCTYPE html>
<html>
<head><title>To-Do List</title></head>
<body>
  <h1>To-Do List</h1>
  <form action="/submittodoitem" method="POST">
    <label>Item Name</label><br>
    <input type="text" name="itemName" required><br>
    <label>Item Description</label><br>
    <textarea name="itemDescription" required></textarea><br>
    <button type="submit">Add Item</button>
    <label>Item ID</label><br>
   <input type="text" name="itemId"><br>

   <label>uuid</label><br>
<input type="text" name="UUID"><br>
   

   

  </form>
</body>
</html>